name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config \
            libopenal-dev libasound2-dev libxcursor-dev libxrandr-dev libx11-dev libgl1-mesa-dev
          
          sudo apt-get update
          sudo apt-get install -y raylib-dev

      - name: Compile
        run: g++ -std=c++17 -Wall -Wextra -O2 main.cpp -o main -lraylib -lGL -lm -lpthread -ldl -lrt -lX11

      - name: Verify binary
        run: |
          ls -l ./main
