name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libray-dev

      - name: Install raylib
        run: sudo apt-get update && sudo apt-get install -y libraylib-dev

      - name: Compile
        run: g++ -std=c++17 -Wall -Wextra -O2 main.cpp -o main

      - name: Run tests
        run: echo "1\n1\n" | ./main
